.introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: fit-content;

    h1 {
        font-size: 60px;
        margin-bottom: 25px;
        color: @primary-color;
    }

    p {
        color: @text-secondary-color;
        font-size: 25px;

        margin-bottom: 35px;
    }

    .invite_bot_btn, .login_btn {
        height: fit-content;

        // Center stuff
        display: flex;
        justify-content: center;
        align-items: center;

        // Ant-design is stinky
        font-size: 16px;
        border-radius: 10px;
        line-height: 1;

        // To give spacing for the SVG of the dashboard
        margin-bottom: 50px;
    }

    .invite_bot_btn {
        background-color: #7289DA;
        border-color: #7289DA;
        padding: 10px 20px;

        svg {
            font-size: 40px;
            margin-right: 5px;
        }
    }

    .login_btn {
        background-color: transparent;
        border: 5px solid @primary-color;
        color: @primary-color;
        padding: 18px 20px;
    }
}
